.signup-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.signup-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
  
.signup-body {
  width: min(80vw, 45rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
  
.signup-title {
  font-size: 2.8rem;
  padding: 0;
  margin: 0;
}
  
.signup-input-container {
  margin-top: 3rem;
  width: 100%;
}

.signup-input-title {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.signup-input {
  width: calc(100% - 4rem);
  padding: 2rem 2rem 2rem 2rem;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 1rem;
  transition: border-color 0.3s ease;
  border: 1px solid var(--main-color);
}

.signup-input:focus {
  outline: 1px solid var(--main-color);
}

.green-border {
  border-color: green;
}

.red-border {
  border-color: red;
}

.signup-input-error-message {
  color: red;
  font-size: 1.2rem;
  padding: 1rem 1rem 0 1rem;
  margin: 0;
}

.signup-submit-button {
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 2rem 0 2rem 0;
  margin-top: 2rem;
  border-radius: 4rem;
  font-size: 2rem;
}

.logout-button {
  border: none;
  border-radius: 5rem;
  font-size: 2rem;
  cursor: pointer;
}
  
.auth-redirect-button {
  width: min(15rem, 50vw);
  border: none;
  border-radius: 3rem;
  font-size: 1.8rem;
  cursor: pointer;
  margin-right: 1rem;
}

@media only screen and (max-width: 767px) {
  
  .auth-redirect-button {
    padding: max(min(1.4rem, 2vw), .6rem) 0 max(min(1.4rem, 2vw), .6rem) 0;
  }

  .logout-button {
    align-self: flex-start;
    margin-bottom: 5rem;
    margin-left: 12%;
    padding: 2vw 10vw 2vw 10vw;
    font-size: max(2rem, 3vw);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  
  .auth-redirect-button {
    padding: max(min(1.5rem, 2.8vw), .8rem) 0 max(min(1.5rem, 2.8vw), .8rem) 0;
  }

  .logout-button {
    padding: 1vw 7vw 1vw 7vw;
  }
}

@media only screen and (min-width: 1200px) {
  
  .auth-redirect-button {
    padding: max(min(1.5rem, 2.8vw), .8rem) 0 max(min(1.5rem, 2.8vw), .8rem) 0;
  }

  .logout-button {
    padding: 1.3rem 9rem 1.3rem 9rem;
  }
}