#root {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;
  flex-grow: 1;
}

.white-background {
  background: var(--second-color);
}

.grey-background {
  background: var(--main-color)
}

.grey-color {
  color: var(--main-color);
}

.white-color {
  color: var(--second-color);
}