.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
}

.home-button {
  border: none;
  background: none;
  cursor: pointer;
}

.home-logo {
  height: min(max(5rem, 12vw), 7.5rem);
}

.menu-nav {
  display: flex;
}
  
.menu {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
}
  
.menu-button {
  text-decoration: none;
  color: var(--second-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 300;
  padding: 0;
  margin: 1rem;
}

.login-link {
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .header-container {
    width: 100vw;
    padding: 1vw 0 1vw 0;
  }
  
  .menu-button {
    font-size: max(3rem, 7vw);
  }

  .menu-invisible {
    width: 0;
  }

  .menu-visible {
    width: 100vw;
  }
  
  .menu {
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    height: calc(100vh - min(max(5rem, 12vw), 7.5rem) - 2vw);
    top: calc(min(max(5rem, 12vw), 7.5rem) + 2vw);
    transition: width 0.5s ease;
    right: 0;
  }

  .menu-nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    width: 80%;
  }

  .hamburger-menu-button {
    background: none;
    cursor: pointer;
    border: none;
  }

  .hamburger-menu-icon {
    height: min(max(4rem, 11vw), 6rem);
    width: min(max(4rem, 11vw), 6rem);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {

  .header-container {
    width: 100vw;
  }

  .menu {
    justify-content: flex-end;
    margin-right: 2rem;
    flex-grow: 1;
  }

  .menu-nav {
    margin-right: 2vw;
  }
  
  .menu-button {
    font-size: 2rem;
  }

  .hamburger-menu-button {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {

  .header-container {
    width: 80vw;
    padding: 0 10vw 0 10vw;
  }
  
  .menu {
    justify-content: flex-end;
    margin-right: 2rem;
    flex-grow: 1;
  }

  .menu-nav {
    margin-right: 2vw;
  }
  
  .menu-button {
    font-size: 2rem;
  }

  .hamburger-menu-button {
    display: none;
  }
}